The students are provided with a string word that consists of lowercase English letters. In one move, they can choose any index i, and let the character at that index be c. Then, the first occurrence of c to the left of i, and the first occurrence of c to the right of / are deleted (Note: the operation can still be carried out even if either the left or right occurrence doesn't exist). For
example, if word = "adabacaea", and if
index 4 is chosen (0-based), the first occurrence of 'a' to the left and right of index 4 (bold, indices 2 and 6) are deleted
leaving word = "adbacea".

In [7]:

import itertools

"""
    * Complete the 'getMinimumMoves' function below.
    *
    * The function is expected to return an INTEGER.
    * The function accepts STRING word as parameter.
    */
    """
def getMinimumMoves(word):
    # Write your code here
    dic_a={}
    ans=0
    for ch in word:
        dic_a[ch]=dic_a.get(ch,0)+1
    while True:
        max_char=''
        max_freq=0
        for ch, freq in dic_a.items():
            if freq > max_freq:
                max_freq=freq
                max_char=ch
        if max_freq <= 1:
            break
        dic_a[max_char]-=2
        if dic_a[max_char] == 0:
            del dic_a[max_char]
        ans+=1
    return ans
   



""""
posibles combinaciones=
1->2->3->4->5->6->7
1->3->4->5->6->7->2
1->4->5->6->7->2->3
....

2->3->4->5->6->7->1
3->4->5->6->7->1->2
4->5->6->7->1->2->3
5->6->7->1->2->3->4
6->7->1->2->3->4->5
7->1->2->3->4->5->6

"""


# Ejemplo de uso
word = "adabacaeaAFXZVBbbbbbbbbb"
result = getMinimumMoves(word)
print(f"Minimum moves: {result}")

Minimum moves: 7

mySQL excersise:
As part of the development of the "HackerCoin" cryptocurrency exchange platform, create a query that returns a list of Ethereum wallets and their balances based on transaction amounts.
Due to the dummy data nature of the development process, some wallets may end up with a negative balance. Be sure to exclude them from the report.
The result should have the following columns: address / transactions / balance.
• address - wallet address
• transactions - the number of confirmed transactions in a specific wallet; a confirmed transaction is one with contirmations 2 10
• balance - the sum of all the amount for all confirmed transactions in a specific wallet|
The result should be sorted in descending order by balance.

<div style="text-align: center;">

<img src="schema.png" alt="Texto alternativo" style="width: 400px;"/>

</div>

In [6]:
#creo una tabla

import sqlite3

# Conectar a una base de datos en memoria (para pruebas)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Crear una tabla de ejemplo para las transacciones
cursor.execute('''
    CREATE TABLE transactions (
        wallet_address TEXT,
        amount REAL,
        confirmations INTEGER
    )
''')

# Insertar algunos datos de prueba
transactions_data = [
    ('0x123', 10.0, 5),
    ('0x123', -5.0, 3),
    ('0x456', 20.0, 9),
    ('0x456', -10.0, 2),
    ('0x789', 15.0, 1),   # Transacción no confirmada
    ('0xabc', 30.0, 7),
    ('0xabc', -50.0, 3),  # Balance negativo
    ('0xdef', 25.0, 4),
]

# Insertar los datos en la tabla
cursor.executemany('INSERT INTO transactions (wallet_address, amount, confirmations) VALUES (?, ?, ?)', transactions_data)

# Confirmar los cambios
conn.commit()

In [4]:
# Consulta SQL que queremos probar
query = '''
    SELECT 
        wallet_address AS address,
        COUNT(*) AS transactions,
        SUM(amount) AS balance
    FROM 
        transactions
    WHERE 
        confirmations BETWEEN 2 AND 10
    GROUP BY 
        wallet_address
    HAVING 
        SUM(amount) > 0
    ORDER BY 
        balance DESC;
'''

# Ejecutar la consulta
cursor.execute(query)

# Obtener los resultados
results = cursor.fetchall()

# Mostrar los resultados
for row in results:
    print(f'Address: {row[0]}, Transactions: {row[1]}, Balance: {row[2]}')

# Cerrar la conexión
conn.close()

Address: 0xdef, Transactions: 1, Balance: 25.0
Address: 0x456, Transactions: 2, Balance: 10.0
Address: 0x123, Transactions: 2, Balance: 5.0

In [10]:
''' 
SELECT
6
w.address AS address,
COUNT (t.wallet_id) AS transactions,
SUM (t.amount) AS balance
FROM
10
wallets w
11 v JOIN
12
transactions t ON w.id = t.wallet_id
WHERE
t.confirmations >=10
15 v GROUP BY
16
w.address
17 ♥ HAVING
18|
balance > 0
19 ORDER BY
20
balance DESC;
'''


#indian 
query = '''
SELECT
    wallet_address AS address,
    COUNT(wallet_address) AS transactions,
    SUM(amount) AS balance
FROM
wallets w
JOIN
    transactions t ON w.id = wallet_address
WHERE
    t.confirmations >= 10
GROUP BY
    w.address
HAVING
    balance > 0
ORDER BY
    balance DESC;
'''
# Ejecutar la consulta
cursor.execute(query)

# Obtener los resultados
results = cursor.fetchall()

# Mostrar los resultados
for row in results:
    print(f'Address: {row[0]}, Transactions: {row[1]}, Balance: {row[2]}')

# Cerrar la conexión
conn.close()

OperationalError: no such table: wallets